<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <main>
        <h2>Submit Your Recipe</h2>
        <form id="recipeForm" action="/submit" method="post">
            <div class="form-group">
                <label for="title">Recipe Title:</label>
                <input type="text" id="title" name="title" placeholder="e.g., Vegan Pasta" required>
            </div>
            
            <div class="form-group">
                <label for="prepTime">Preparation Time (in minutes):</label>
                <input type="number" id="prepTime" name="prepTime" placeholder="20" required>
            </div>
            
            <div class="form-group">
                <label for="cookTime">Cooking Time (in minutes):</label>
                <input type="number" id="cookTime" name="cookTime" placeholder="60" required>
            </div>
            
            <div class="form-group">
                <label for="servingAmount">Serving Amount:</label>
                <input type="number" id="servingAmount" name="servingAmount" placeholder="e.g., 4" required>
            </div>

            <div class="form-group">
                <label for="ingredients">Ingredients:</label>
                <textarea id="ingredients" name="ingredients" placeholder="List ingredients separated by commas" required></textarea>
            </div>

            <div class="form-group">
                <label for="equipment">Equipment:</label>
                <textarea id="equipment" name="equipment" placeholder="List equipment separated by commas" required></textarea>
            </div>

            <div class="form-group">
                <label for="styles">Styles:</label>
                <textarea id="styles" name="styles" placeholder="List styles separated by commas" required></textarea>
            </div>

            <div class="form-group">
                <label for="preCookingConsiderations">Pre-cooking Considerations:</label>
                <textarea id="preCookingConsiderations" name="preCookingConsiderations" placeholder="Any steps or preparations to consider before starting?"></textarea>
            </div>

            <div class="form-group">
                <label for="directions">Directions:</label>
                <textarea id="directions" name="directions" placeholder="Describe steps one by one" required></textarea>
            </div>

            <div class="form-group">
                <label for="extraInformation">Extra Information:</label>
                <textarea id="extraInformation" name="extraInformation" placeholder="Any additional tips, variations or notes."></textarea>
            </div>

            <div class="form-group">
                <button type="submit" id="submitBtn">Submit Recipe</button>
            </div>
        </form>
    </main>
    <%- include('partials/footer.ejs') %>
</body>
</html>